{#
 Returns the full name and price of the supplied product
 Usage: {{ renderProduct product }}
#}

{% macro renderProduct(product) %}
  helper: {{ product.name }} - £{{ product.price }}
{% endmacro %}