{% include "header.njk" %}

<h1>Products:</h1>

<ul>
  {% for product in products %}
    <li>filter: {{ product.name | uppercase }} - £{{ product.price }}</li>
  {% endfor %}
</ul>

{% include "footer.njk" %}